/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* BEGIN: Базовые переменные (палитры) цветов */
  --color-primary: var(--color-fuchsia);
  --color-secondary: var(--color-light-fuchsia);
  /* ENG: Базовые переменные (палитры) цветов */

  /* BEGIN: Переменные body */
  --body-bg-color: var(--color-dark-blue);
  --body-bg-image: url("../images/cover-image-dark.png");
  /* END: Переменные body */

  /* BEGIN: Переменные заголовков */
  --headings-color: var(--color-dark-blue);
  /* END: Переменные заголовков */

  /* BEGIN: Переменные h1 */
  --h1-color: var(--color-dark-fuchsia);
  /* END: Переменные h1 */

  /* BEGIN: Переменные h2 */
  --h2-color: var(--color-primary);
  /* END: Переменные h2 */
}
