/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* BEGIN: Базовые переменные (палитры) цветов */
  --color-primary: var(--color-fuchsia);
  --color-secondary: var(--color-fuchsia-light);
  /* ENG: Базовые переменные (палитры) цветов */

  /* BEGIN: Переменные body (page) */
  --body-bg-color: var(--color-blue-dark);
  --body-bg-image: url("../images/cover-image-dark.png");
  /* END: Переменные body (page) */

  /* BEGIN: Переменные заголовков (title) */
  --headings-color: var(--color-blue-dark);
  /* END: Переменные заголовков (title) */

  /* BEGIN: Переменные h1 (xxl) */
  --h1-color: var(--color-fuchsia-dark);
  /* END: Переменные h1 (xxl) */

  /* BEGIN: Переменные h2 (xl) */
  --h2-color: var(--color-primary);
  /* END: Переменные h2 (xl) */

  /* BEGIN: Переменные декорированной зоны (decorated-zone) */
  --decorated-color: var(--color-accent);
  /* END: Переменные декорированной зоны (decorated-zone) */
}
