/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

/* BEGIN: Глобальные общие стили */
*,
*::before,
*::after {
  box-sizing: var(--box-sizing-base);
}

html {
  font-size: var(--font-size-root);
  block-size: 100%;
}

body {
  min-inline-size: var(--breakpoint-base);
  max-inline-size: var(--breakpoint-xl);
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  margin: 0;
  padding: 0;
  display: block;
  max-inline-size: 100%;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
/* END: Глобальные общие стили */
