/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* BEGIN: Дополнительные общие и вспомогательные стили */
.page {
  padding: 0;
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  font-style: var(--body-font-style);
  line-height: var(--body-line-height);
  background-color: var(--body-bg-color);
  background-image: var(--body-bg-image);
  background-attachment: fixed;
  color: var(--body-color);
  inline-size: 100%;
  block-size: 100%;
}

.container {
  margin: 0;
  padding: 0 10px;
  inline-size: 100%;
  max-inline-size: var(--breakpoint-xl);
}
/* END: Дополнительные общие и вспомогательные стили */
