/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* BEGIN: Дополнительные общие и вспомогательные стили */
.page {
  padding: 0;
  color: var(--body-color);
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  line-height: var(--body-line-height);
  background-color: var(--body-bg-color);
  background-image: var(--body-bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  inline-size: 100%;
  block-size: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  inline-size: 100%;
  max-inline-size: var(--breakpoint-xl);
}

.has-bg {
  display: block;
  background-color: var(--color-primary);
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  white-space: nowrap;
  clip-path: inset(50%);
}
/* END: Дополнительные общие и вспомогательные стили */

/* BEGIN: Стили заголовков */
.title {
  margin: 0;
  padding: 0;
  color: var(--headings-color);
  font-family: var(--headings-font-family);
  font-weight: var(--headings-font-weight);
  font-size: var(--headings-font-size);
  line-height: var(--headings-line-height);
  text-transform: var(--headings-text-transform);
}

.title_size_xxl {
  color: var(--h1-color);
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  text-shadow: var(--h1-text-shadow);
}

.title_size_xl {
  color: var(--h2-color);
}

.title_size_lg {
  color: var(--h3-color);
}

.title_size_md {
  color: var(--h4-color);
}
/* END: Стили заголовков */

/* BEGIN: Стили основного контента Content */
.content {
  display: block;
  margin: 0;
  padding: 0;
  inline-size: 100%;
}

.content__inner {
  margin: 0 auto;
  padding: 0;
}
/* END: Стили основного контента Content */

/* BEGIN: Стили секции Section */
.section {
  --section-gap: 2rem;
  display: block;
  margin: 0;
  padding: 0;
  inline-size: 100%;
}

.section__inner {
  display: grid;
  gap: var(--section-gap);
  margin: 0 auto;
  padding: 0;
}

.section__content {
  display: grid;
  gap: var(--section-gap);
  margin: 0 auto;
  padding: 0;
}
.content__section {
  --margin-bottom-min: 4rem;
  --margin-bottom-max: 8rem;
  margin-block-end: clamp(
    var(--margin-bottom-min),
    calc(1.832px + 10.178vw),
    var(--margin-bottom-max)
  );
}
/* END: Стили секции Section */
