/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* BEGIN: Дополнительные общие и вспомогательные стили */
.page {
  padding: 0;
  color: var(--body-color);
  font-family: var(--body-font-family);
  font-weight: var(--body-font-weight);
  font-size: var(--body-font-size);
  font-style: var(--body-font-style);
  line-height: var(--body-line-height);
  background-color: var(--body-bg-color);
  background-image: var(--body-bg-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  inline-size: 100%;
  block-size: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-padding);
  inline-size: 100%;
  max-inline-size: var(--breakpoint-xl);
}

.has-bg {
  display: block;
  background-color: var(--color-primary);
}

.visually-hidden {
  position: absolute;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  white-space: nowrap;
  clip-path: inset(50%);
}
/* END: Дополнительные общие и вспомогательные стили */

/* BEGIN: Стили заголовков сайта */
.title {
  margin: 0;
  padding: 0;
  color: var(--headings-color);
  font-family: var(--headings-font-family);
  font-weight: var(--headings-font-weight);
  font-size: var(--headings-font-size);
  line-height: var(--headings-line-height);
  text-transform: var(--headings-text-transform);
}

.title_size_xxl {
  color: var(--h1-color);
  font-size: var(--h1-font-size-mobile);
  line-height: var(--h1-line-height);
  text-shadow: var(--h1-text-shadow);
}

.title_size_xl {
  color: var(--h2-color);
}

.title_size_lg {
  color: var(--h3-color);
}

.title_size_md {
  color: var(--h4-color);
  font-weight: var(--h4-font-weight);
}
/* END: Стили заголовков сайта */

/* BEGIN: Стили шапки сайта (header) */
.header {
  display: block;
  margin: 0;
  padding: 0;
  inline-size: 100%;
  block-size: 100dvh;
  min-block-size: var(--header-min-block-size);
}

.header__inner {
  position: relative;
  display: grid;
  justify-items: end;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  inline-size: 100%;
  block-size: 100%;
}

.header__title {
  justify-self: start;
}

.header__description {
  inline-size: var(--header-description-inline-size);
}

.header__decor {
  position: absolute;
  display: var(--header-decor-display);
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  color: var(--decorated-color);
  line-height: var(--header-decor-line-height);
  text-align: var(--header-decor-text-align);
  inset-inline-end: var(--header-decor-padding);
  inset-block-start: 0;
}

.header__decor::after {
  content: "";
  display: block;
  margin: 0;
  border-radius: 100%;
  padding: 0;
  box-shadow: 0 0 4px 2px currentColor;
  background-color: currentColor;
  inline-size: 0.5em;
  block-size: 0.5em;
}
/* END: Стили шапки сайта (header) */

/* BEGIN: Стили навигации сайта по смене темы (header__theme-menu) */
.header__theme-menu {
  display: block;
  margin: 0;
  padding: 0;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
}

.header__theme-menu-item {
  display: block;
  margin: 0;
  padding: 0;
  inline-size: 100%;
}
/* END: Стили навигации сайта по смене темы (header__theme-menu) */

/* BEGIN: Стили кнопки смены темы (header__theme-menu-button) */
.header__theme-menu-button {
  position: relative;
  display: inline-flex;
  margin: 0;
  border: var(--theme-button-border);
  padding: var(--theme-button-padding);
  outline: var(--theme-button-outline);
  color: var(--theme-button-color);
  font-family: var(--theme-button-font-family);
  font-weight: var(--theme-button-font-weight);
  font-size: var(--theme-button-font-size);
  line-height: var(--theme-button-line-height);
  text-align: var(--theme-button-text-align);
  text-transform: var(--theme-button-text-transform);
  background-color: var(--theme-button-bg-color);
  cursor: pointer;
  inline-size: fit-content;
  block-size: fit-content;
}

.header__theme-menu-button:hover {
  --theme-button-outline: 1px solid rgb(from var(--theme-button-color) r g b / 0.4);
}

.header__theme-menu-button_active {
  --theme-button-outline: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible::after {
  content: "";
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: currentColor;
  transform: translate(-50%, 0);
  inset-inline-start: 50%;
  inset-block-end: 0;
  inline-size: calc(100% - 6px);
  block-size: 1px;
}
/* END: Стили кнопки смены темы (header__theme-menu-button) */

/* BEGIN: Стили основного контента сайта (content) */
.content {
  display: block;
  margin: 0;
  padding-block: var(--content-padding-block);
  inline-size: 100%;
}

.content__inner {
  display: grid;
  gap: var(--content-gap);
  margin: 0 auto;
  padding: 0;
  inline-size: 100%;
}
/* END: Стили основного контента сайта (content) */

/* BEGIN: Стили общей секции (section) */
.section {
  display: block;
  margin: 0;
  padding: 0;
  inline-size: 100%;
}

.section__inner {
  display: grid;
  gap: var(--section-gap);
  margin: 0 auto;
  padding: 0;
  inline-size: 100%;
}

.section__content {
  display: grid;
  gap: var(--section-gap);
  margin: 0 auto;
  padding: 0;
  inline-size: 100%;
}
/* END: Стили общей секции (section) */

/* BEGIN: Стили секции снижения концентрации (concentration-decrease) */
.concentration-decrease {
  margin: 0;
  padding: 0;
}

.concentration-decrease__content {
  margin: 0 auto;
  padding: 0;
}
/* END: Стили секции снижения концентрации (concentration-decrease) */

/* BEGIN: Стили текстовой карточки (text-card) */
.text-card {
  display: block;
  margin: 0;
  padding: 0;
  inline-size: 100%;
}

.text-card__inner {
  margin: 0 auto;
  padding: 0;
}

.text-card__title {
  margin-block-end: 1rem;
}

.text-card__content {
  margin: 0;
  padding: 0;
}
/* END: Стили текстовой карточки (text-card) */

/* BEGIN: Стили ссылки (link) */
.link {
  margin: 0;
  border-block-end: var(--link-border-block-end);
  padding: 0;
  color: var(--link-color);
  font-size: var(--link-font-size);
  line-height: var(--link-line-height);
  text-decoration: var(--link-text-decoration);
  text-transform: var(--link-text-transform);
  text-shadow: var(--link-text-shadow);
  cursor: pointer;
}

.link:hover {
  --link-border-block-end: 1px solid currentColor;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  outline: 1px solid currentColor;
}
/* END: Стили ссылки (link) */

/* BEGIN: Стили секции галереи (gallery-section) */
.gallery-section {
  margin: 0;
  padding: 0;
}

.gallery-section__content {
  margin: 0 auto;
  padding: 0;
}

.gallery-section__title {
  margin: 0;
  padding: 0;
}
/* END: Стили секции галереи (gallery-section) */

/* BEGIN: Стили галереи (gallery) */
.gallery {
  display: block;
  margin: 0;
  padding: 0;
  inline-size: 100%;
}

.gallery__list {
  display: grid;
  gap: var(--section-gap);
  margin: 0 auto;
  padding: 0;
  inline-size: 100%;
}

.gallery__item {
  display: block;
  margin: 0;
  padding: 0;
  inline-size: 100%;
}

.gallery-picture {
  display: block;
  margin: 0;
  padding: 0;
  inline-size: 100%;
  block-size: 100%;
}

.gallery-picture__media {
  display: block;
  margin: 0;
  padding: 0;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}
/* END: Стили галереи (gallery) */

/* BEGIN: Стили подвала сайта (footer) */
.footer {
  display: block;
  margin: 0;
  padding: 0;
  inline-size: 100%;
  block-size: 100dvh;
  min-block-size: var(--footer-min-block-size);
}

.footer__inner {
  position: relative;
  display: grid;
  place-content: center;
  align-content: center;
  margin: 0 auto;
  padding: 0;
  inline-size: 100%;
  block-size: 100%;
}

.footer__text {
  text-shadow: var(--footer-text-shadow);
}
/* END: Стили подвала сайта (footer) */

/* BEGIN: Стили декорированной зоны (decorated-zone) */
.decorated-zone {
  position: relative;
  padding: var(--decorated-padding);
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  display: block;
  margin: 0;
  padding: 0;
  inline-size: var(--decorated-decor-element-size);
  block-size: var(--decorated-decor-element-size);
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--decorated-color);
  border-block-start: 1px solid var(--decorated-color);
  inset-inline-end: var(--decorated-padding);
  inset-block-start: var(--decorated-padding);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--decorated-color);
  border-block-end: 1px solid var(--decorated-color);
  inset-inline-start: var(--decorated-padding);
  inset-block-end: var(--decorated-padding);
}
/* END: Стили декорированной зоны (decorated-zone) */

/* BEGIN: Стили для tablet устройств (от 768px до 1023px) */
@media (width >= 768px) {
  /* BEGIN: Стили секции (section) */
  .section__inner {
    grid-template-columns: 1fr 2fr;
  }
  /* END: Стили секции (section) */

  /* BEGIN: Стили секции снижения концентрации (concentration-decrease) */
  .concentration-decrease__content {
    grid-row: 2;
    grid-column: 1 / -1;
  }
  /* END: Стили секции снижения концентрации (concentration-decrease) */

  /* BEGIN: Стили секции галереи (gallery-section) */
  .gallery-section__content {
    grid-column: 1 / -1;
  }

  .gallery-section__title {
    grid-column: 1 / -1;
  }
  /* END: Стили секции галереи (gallery-section) */

  /* BEGIN: Стили галереи (gallery) */
  .gallery__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery__item:nth-child(1) {
    grid-column: span 2;
  }

  .gallery__item:nth-child(2) {
    grid-row: span 2;
  }

  .gallery__item:nth-child(3) {
    grid-row: span 2;
  }

  .gallery__item:last-child {
    grid-column: 2 / -1;
  }
  /* END: Стили галереи (gallery) */
}

/* END: Стили для tablet устройств (от 768px до 1023px) */

/* BEGIN: Стили для desktop устройств (от 1024px) */
@media (width >= 1024px) {
  /* BEGIN: Стили секции снижения концентрации (concentration-decrease) */
  .concentration-decrease__content {
    grid-template-columns: repeat(3, 1fr);
  }
  /* END: Стили секции снижения концентрации (concentration-decrease) */
}

/* END: Стили для desktop устройств (от 1024px) */
